@using BTIT.EPM.Web.Areas.App.Models.DocumentRequests;
@using BTIT.EPM.Web.Areas.App.Startup
@using BTIT.EPM.Authorization
@{
    Layout = "~/Areas/App/Views/Layout/Default/_Layout_Anonymous.cshtml";
}
@model ViewAndSignDocumentEmailViewModel
@{
    ViewBag.CurrentPageName = AppPageNames.Tenant.ViewAndSignDocument;
}

@section Scripts
    {

    <script abp-src="/view-resources/Areas/App/Views/DocumentRequests/ViewAndSignDocumentWithPin.js" asp-append-version="true"></script>

}
<style>

    .swal-overlay.swal-overlay--show-modal {
        background-color: rgba(190, 182, 182, 0.5);
        backdrop-filter: blur(10px);
    }
</style>

<div class="kt-subheader kt-grid__item">

    <input type="hidden" name="c" id="c" value="@Model.c" />
    <input type="hidden" name="RecipientId" id="RecipientId" value="@Model.RecipientId" />
    <input type="hidden" name="DocumentRequestId" id="DocumentRequestId" value="@Model.DocumentRequestId" />
    <input type="hidden" name="RecipientCode" id="RecipientCode" value="@Model.RecipientCode" />
</div>


