@using BTIT.EPM.Documents.Dtos;
@model FileUploadData

<form id="fileuploadForm" role="form" class="form">

    <div class="col-6 mb-3">
        <h6>@L("TicketAttachments")</h6>
    </div>
    <!-- The container for the uploaded files -->
    <div id="files" class="files" style="max-height: 150px; overflow-y: auto; margin: 15px;">
        <ul id="documentsList">
            @if (Model.Documents != null) foreach (var item in Model.Documents)
                {
<li><div class="files" style="max-height: 150px; overflow-y: auto; margin: 15px;"><a href="/App/Documents/GetFile?documentId=@item.Id&amp;contentType=@item.ContentType" download=">@item.FileName">@item.Comment (@item.FileName)</a></div></li>                }
        </ul>
    </div>



</form>
